@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300&display=swap");
* {
  padding: 0;
  margin: 0;
  border: none;
  outline: none;
  box-sizing: border-box;
  font-family: "Rubik", sans-serif;
}
html {
  overflow-x: hidden;
}
body {
  max-width: 1440px;
  display: block;
  margin: auto;
  background: #21201e;
}

/* All Style */
a {
  text-decoration: none;
}
li {
  list-style: none;
}
.jcc {
  justify-content: center;
}
.aic {
  align-items: center;
}
.df {
  display: flex;
}
.fdc {
  flex-direction: column;
}
.jcsb {
  justify-content: space-between;
}
.jcsa {
  justify-content: space-around;
}
.fw {
  flex-wrap: wrap;
}
.tac {
  text-align: center;
}

.g-1 {
  gap: 10px;
}
.g-2 {
  gap: 20px;
}
.g-3 {
  gap: 30px;
}
.g-4 {
  gap: 40px;
}
.g-5 {
  gap: 50px;
}
.g-6 {
  gap: 60px;
}
.g-7 {
  gap: 70px;
}

.mt-1 {
  margin-top: 10px;
}
.mt-2 {
  margin-top: 20px;
}
.mt-3 {
  margin-top: 30px;
}
.mt-4 {
  margin-top: 40px;
}
.mt-5 {
  margin-top: 50px;
}
.mt-6 {
  margin-top: 60px;
}
.mt-7 {
  margin-top: 70px;
}

.mb-1 {
  margin-bottom: 10px;
}
.mb-2 {
  margin-bottom: 20px;
}
.mb-3 {
  margin-bottom: 30px;
}
.mb-4 {
  margin-bottom: 40px;
}
.mb-5 {
  margin-bottom: 50px;
}
.mb-6 {
  margin-bottom: 60px;
}
.mb-7 {
  margin-bottom: 70px;
}
.absolute {
  position: absolute;
}

/* Element */
.btn {
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #ffffff;
  background: #ed9902;
  border-radius: 5px;
  padding: 13px 18px;
  transition: all 0.2s ease-in-out;
}
.btn:active {
  background: #c78406;
}
button {
  cursor: pointer;
}

.nav_btn {
  gap: 12px;
  display: none;
  cursor: pointer;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.nav_btn span {
  width: 30px;
  height: 2px;
  background: #fff;
  transition: all 0.4s ease-in-out;
}

.card_anim h1 {
  font-size: 30px;
  line-height: 36px;
}
.card_anim p {
  color: #fff;
  margin: 20px 0 25px;
}

.card_anim {
  width: 300px;
  padding: 60px 20px;
  position: relative;
  background: #383636;
  overflow: hidden;
}
.card_anim::before {
  content: "";
  top: -50%;
  left: -100%;
  width: 450px;
  height: 320px;
  transform-origin: bottom right;
  background: linear-gradient(0deg, transparent, #45f3ff);
  position: absolute;
  animation: animate1 4s linear infinite;
}
.card_anim::after {
  content: "";
  top: -50%;
  right: 50%;
  width: 450px;
  height: 320px;
  transform-origin: bottom right;
  background: linear-gradient(0deg, transparent, #45f3ff);
  position: absolute;
  animation: animate2 4s linear infinite;
  animation-delay: -2s;
}
/* 
.box{
  inset: 2px;
  z-index: 10;
  position: absolute;
  background: #383636;
} */

.positions {
  position: relative;
}

.loading{
  top: -10px;
  left: 353px;
  position: absolute;
}

@keyframes animate1 {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes animate2 {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes anim1 {
  0% {
    transform: translate(-50%, -50%) rotate(0);
  }
  100% {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}

@media (max-width: 1195px) {
  .services .cards {
    grid-template-columns: repeat(1, auto) !important;
  }

  .services .card .card_img {
    width: 190px !important;
    height: 75px !important;
  }
}

@media (max-width: 930px) {
  .web {
    gap: 110px;
    text-align: center;
  }
  .web h1 {
    font-size: 62px !important;
    line-height: 70px;
  }
  .web h3 {
    margin-top: 13px !important;
  }
  .web .web_col_position .images1 {
    z-index: -4 !important;
  }
}
@media (max-width: 800px) {
  .web br {
    display: none !important;
  }
  .images2 img {
    width: 80% !important;
    height: 80% !important;
  }
  .all_padding {
    padding: 0 50px !important;
  }
}

@media (max-width: 760px) {
  .media_service .media-df {
    flex-direction: column !important;
    text-align: center;
  }
  .search {
    width: 220px;
    margin: auto;
    justify-content: center;
    margin-bottom: 50px;
  }
}

@media (max-width: 660px) {
  .nav_bar {
    position: relative;
  }
  .nav_btn {
    display: flex;
  }
  .nav_bar ul {
    right: -100%;
    width: 0;
    top: 90px;
    z-index: 99;
    padding: 70px 0;
    overflow: hidden;
    position: absolute;
    flex-direction: column;
    transition: all 0.4s ease-in-out;
    background: rgba(0, 0, 0, 0.4);
  }
  .nav_item.activ {
    right: 0;
    width: 100%;
  }
  .nav_btn.activ > .span_nav:nth-child(1) {
    transform: rotate(-42deg) translateY(10px);
  }
  .nav_btn.activ > .span_nav:nth-child(2) {
    transform: rotate(42deg) translateY(-10px);
  }
  .web h1 {
    font-size: 46px !important;
    line-height: 50px !important;
  }
}

@media (max-width: 580px) {
  .services .card {
    text-align: center !important;
    flex-direction: column !important;
  }
  .services br {
    display: none !important;
  }
  .services header {
    text-align: center;
  }
  .card_port {
    width: 100% !important;
    /* height: 264px !important; */
  }
}

@media (max-width: 500px) {
  .images1,
  .images3 {
    display: none !important;
  }
  .web {
    gap: 30px !important;
  }
  .web h3 {
    font-size: 15px !important;
    line-height: 20px !important;
  }
  .web p {
    padding: 10px 0 17px !important;
  }
  .web h1 {
    font-size: 38px !important;
    line-height: 45px !important;
  }
  .all_h1 {
    font-size: 35px !important;
    line-height: 42px !important;
  }
}

@media (max-width: 430px) {
  .web h1 {
    font-size: 30px !important;
    line-height: 40px !important;
  }
  .web.mt-7 {
    margin-top: 30px !important;
  }
  .all_h1 {
    font-size: 28px !important;
    line-height: 35px !important;
  }
  .search {
    margin-bottom: 30px;
  }
}

.typed-cursor {
  opacity: 1;
  animation: typedjsBlink 0.7s infinite;
  -webkit-animation: typedjsBlink 0.7s infinite;
  animation: typedjsBlink 0.7s infinite;
}
@keyframes typedjsBlink {
  50% {
    opacity: 0;
  }
}
@-webkit-keyframes typedjsBlink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.typed-fade-out {
  opacity: 0;
  transition: opacity 0.25s;
  -webkit-animation: 0;
  animation: 0;
}
